* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.blank {
  text-align: center;
  margin: 25px auto 25px;
}
.box {
  height: 100px;
  width: 25%;
  /* margin: auto; */
  position: absolute;
  z-index: 1;
  left: 510px;
  top: 5px;
  color: white;
  background-color: royalblue;
}
