* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 605px;
  width: 100%;
  row-gap: 15px;
  background-color: #feafb1;
}
span {
  font-size: 35px;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
  height: 100%;
  width: 98%;
  background-color: #fa7a7b;
}

.img {
  display: grid;
  grid-template-columns: auto auto auto;

}
.img .full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
  margin: auto;
  background-color: #d5d5d5;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
  margin: auto;
  background-color: #62b6b6;
}
.header,
.article,
.full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 98%;
  margin: auto;
}
/* .span {
  width: 100%;
  height: 100%;
 
} */
.null {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 15px;
  height: 100%;
  width: 95%;
  margin: auto;
}
.header,.footer {
  background-color: #98d1c8;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 98%;
  margin: auto;
}
