
body{
    margin: 0px;
    padding: 0px;
}

section{
    margin: 0; 
    display: grid;
    grid-template-rows:20% 60% 20%;
    height: 580px;
    width: 100%;
    row-gap: 15px;
    color: white;
}
.block1{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d7962;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
    background-color: white;

}
.container div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0d7962;
    
}
.block2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #0d7962;
}